<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/profile.css">
    <title>user-Profile</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="far fa-user-circle"></i>
                    <a href="#" class="button">profile</a>
                </li>
                <li>
                    <i class="far fa-images"></i>
                    <a href="#" class="button">albums</a>
                </li>
                <li>
                    <i class="fas fa-cloud-upload-alt"></i>
                    <a href="#" class="button">upload</a>
                </li>
                <li>
                    <i class="far fa-calendar-check"></i>
                    <a href="#" class="button">events</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">setings</a>
                </li>
            </ul>
        </nav>
        <main>
            <section class="albums">
                <header>
                    <img src="../img/uploads/img1.jpg">
                </header>

            </section>
            <section class="user-info">
                <img src="../img/uploads/img1.jpg">
                Name
            </section>
        </main>
    <div>
</body>
</html>