main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

}
.albums {
    display: grid;
    width: 70%;
}

.albums>header {
    margin: 2em;
    width: 80%;
    height: 300px;
    border: 1px solid gold;
    border-color: #61D2E9;
}


.user-info {
    width: 30%;
    height: 100%;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: transparent linear-gradient(180deg, #13FFA6 0%, #61D2E9 100%) 0% 0% no-repeat padding-box;

}


.user-info>img {
    //padding: 2em;
    margin: 2em;
    height: 12em;
    width: 12em;
    border-radius: 100%;
    border-color: #61D2E9;
    box-shadow: 0px 3px 6px #61D2E9;
}

.user-name {
    margin: 1em;
    font-size: xx-large;
}

.between {
    display: flex;
    flex-direction: column;
    justify-content: center;
}