section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    padding: 1em;
    overflow: auto;
}

.albums>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}

.albums>div>div {
    height: 50%;
    color: #61D2E9;
    margin: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}